(
  entities: {
    13: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -105.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    14: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -105.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    15: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -105.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    16: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -105.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    17: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -105.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    18: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -70.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    19: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -70.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    20: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -70.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    21: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -70.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    22: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -70.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    23: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -35.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    24: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -35.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    25: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -35.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    26: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -35.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    27: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -35.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    28: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    29: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    30: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    31: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    32: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    33: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 35.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    34: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 35.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    35: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 35.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    36: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 35.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    37: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 35.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    38: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 70.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    39: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 70.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    40: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 70.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    41: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 70.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    42: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 70.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    43: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 105.0,
            y: 220.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    44: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 105.0,
            y: 185.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    45: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 105.0,
            y: 150.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    46: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 105.0,
            y: 115.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    ),
    47: (
      components: {
        "shoe_shmup::enemy::Enemy": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 105.0,
            y: 80.0,
            z: 1.0
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0, y: 1.0, z: 1.0
          )
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          is_visible_in_hierarchy: true,
          is_visible_in_view: true,
        ),
        "bevy_render::view::visibility::Visibility": (
          is_visible: true,
        )
      }
    )
  }
)