(
  entities: {
    2: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -105.0,
            y: 220.0,
            z: 1.0,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
        )),
        "bevy_render::view::visibility::ComputedVisibility": (
          flags: (
            bits: 0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "shoe_shmup::enemy::Enemy": (),
      },
    ),
  },
)